body {
  position: relative; }
  body p {
    text-align: justify; }
  body p, body li {
    font-family: Lato, sans-serif; }
  body ul {
    list-style: none; }
  body h1, body h2, body h3 {
    font-family: Oswald;
    color: #666; }
  body .panel {
    background-color: #f0f3f5; }
  body #menu-bar {
    overflow: hidden;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 99; }
    body #menu-bar .menu-list {
      float: right;
      margin: 0; }
      body #menu-bar .menu-list li {
        display: inline-block;
        float: left;
        background-color: white; }
        body #menu-bar .menu-list li a {
          color: black; }
        body #menu-bar .menu-list li a:hover {
          color: #7eaacd; }
    body #menu-bar .menu-list.visible-for-small-only a {
      color: black; }
    body #menu-bar .menu-list.visible-for-small-only a:hover {
      color: black; }
  body #small-menu {
    overflow: hidden;
    position: fixed;
    border: 1px solid black;
    background-color: white;
    z-index: 99;
    margin: 0;
    right: 0;
    top: 37px;
    display: none; }
    @media only screen and (min-width: 40.063em) {
      body #small-menu {
        display: none; } }
    body #small-menu a {
      color: black; }
    body #small-menu a:hover {
      color: #7eaacd; }
  body .menu-list li {
    font-size: 0.7em;
    padding: 10px; }
  body #about, body #portfolio, body #skills, body #education, body #work-experience {
    padding: 0; }
  body section .head-icon {
    display: block;
    text-align: center; }
    body section .head-icon i {
      padding: 15px 15px 5px 15px;
      color: white;
      display: inline-block;
      border: 1px solid lightgray;
      border-bottom: none;
      border-radius: 50% 50% 0 0;
      background-color: #7eaacd; }
  body section .section-head {
    text-align: center;
    background-color: #f0f3f5;
    margin-bottom: 50px;
    border-top: 1px solid lightgray; }
    body section .section-head h1 {
      margin: 0;
      margin-bottom: 10px;
      padding: 20px 0;
      font-family: Oswald;
      color: #666; }
  body section .section-body {
    padding: 0 20px 0 20px; }
  body #about {
    padding-top: 70px; }
    body #about .about-container .about__img img {
      display: inline-block;
      width: 200px;
      border-radius: 50%;
      border: 1px solid lightgrey;
      box-shadow: 3px 3px 4px #aaa; }
      @media only screen and (min-width: 40.063em) {
        body #about .about-container .about__img img {
          float: right; } }
      @media screen and (max-width: 40em) {
        body #about .about-container .about__img img {
          clear: both; } }
    @media screen and (max-width: 40em) {
      body #about .about-container .about__img {
        text-align: center; } }
    body #about .about-container .about__title .title-box h1 {
      font-family: 'Oswald';
      color: #666; }
    body #about .about-container .about__title .title-box h2 {
      font-family: 'Oswald';
      font-weight: 300;
      color: #7eaacd; }
    @media only screen and (max-width: 40em) {
      body #about .about-container .about__title .title-box {
        text-align: center; } }
    @media only screen and (min-width: 40.063em) {
      body #about .about-container .about__title .title-box {
        display: inline-block;
        float: left;
        text-align: center; } }
    body #about .about-container .about__title .social-box {
      display: block;
      clear: both; }
      body #about .about-container .about__title .social-box a li {
        display: inline-block;
        border: 1px solid lightgray;
        border-radius: 50%;
        color: #7eaacd;
        background-color: white;
        box-shadow: 3px 3px 4px #aaa;
        transition: color 0.4s, background-color 0.4s;
        -webkit-transition: color 0.4s, background-color 0.4s;
        -moz-webkit-transition: color 0.4s, background-color 0.4s;
        -ms-webkit-transition: color 0.4s, background-color 0.4s;
        -o-webkit-transition: color 0.4s, background-color 0.4s; }
        body #about .about-container .about__title .social-box a li i {
          padding: 10px; }
      body #about .about-container .about__title .social-box a li:hover {
        color: white;
        background-color: #7eaacd; }
    body #about .about-container .about__title .social-box.visible-for-small-only {
      text-align: center; }
      body #about .about-container .about__title .social-box.visible-for-small-only a {
        margin: auto 5px; }
    body #about .about-container .about__title .social-box.visible-for-medium-up {
      margin-left: 25px; }
      body #about .about-container .about__title .social-box.visible-for-medium-up a {
        text-align: center;
        float: left;
        margin-right: 16px; }
        body #about .about-container .about__title .social-box.visible-for-medium-up a:first-child {
          margin-left: 20px; }
  body #skills .section-body .skills-container {
    max-width: none; }
    body #skills .section-body .skills-container .skills-column {
      position: relative;
      height: 100%; }
      body #skills .section-body .skills-container .skills-column .skills-panel {
        display: block;
        border: 1px solid lightgray;
        border-radius: 10px; }
        body #skills .section-body .skills-container .skills-column .skills-panel h1 {
          color: #666; }
        body #skills .section-body .skills-container .skills-column .skills-panel .skills-list .skill-box {
          margin-bottom: 20px;
          display: flex;
          display: -webkit-flex;
          -webkit-flex-direction: row; }
          body #skills .section-body .skills-container .skills-column .skills-panel .skills-list .skill-box .full {
            color: white;
            background-color: #7eaacd;
            -webkit-flex-grow: 0.8; }
            body #skills .section-body .skills-container .skills-column .skills-panel .skills-list .skill-box .full span {
              display: inline-block;
              padding: 5px 0 5px 15px; }
          body #skills .section-body .skills-container .skills-column .skills-panel .skills-list .skill-box .empty {
            background-color: white;
            -webkit-flex-grow: 0.2; }
        body #skills .section-body .skills-container .skills-column .skills-panel .skills-list .skill-box:last-child {
          margin-bottom: 0; }
    @media screen and (min-width: 64.063em) {
      body #skills .section-body .skills-container .skills-column:first-child {
        padding: 0 8px 0 0; } }
    @media screen and (min-width: 64.063em) {
      body #skills .section-body .skills-container .skills-column:last-child {
        padding: 0 0 0 8px; } }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(1) .skill-box:nth-child(1) .full {
    -webkit-flex-grow: 0.92; }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(1) .skill-box:nth-child(1) .empty {
    -webkit-flex-grow: 0.08; }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(1) .skill-box:nth-child(2) .full {
    -webkit-flex-grow: 0.85; }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(1) .skill-box:nth-child(2) .empty {
    -webkit-flex-grow: 0.15; }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(1) .skill-box:nth-child(3) .full {
    -webkit-flex-grow: 0.65; }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(1) .skill-box:nth-child(3) .empty {
    -webkit-flex-grow: 0.35; }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(1) .skill-box:nth-child(4) .full {
    -webkit-flex-grow: 0.75; }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(1) .skill-box:nth-child(4) .empty {
    -webkit-flex-grow: 0.25; }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(1) .skill-box:nth-child(5) .full {
    -webkit-flex-grow: 0.7; }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(1) .skill-box:nth-child(5) .empty {
    -webkit-flex-grow: 0.3; }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(2) .skill-box:nth-child(1) .full {
    -webkit-flex-grow: 0.95; }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(2) .skill-box:nth-child(1) .empty {
    -webkit-flex-grow: 0.05; }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(2) .skill-box:nth-child(2) .full {
    -webkit-flex-grow: 0.70; }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(2) .skill-box:nth-child(2) .empty {
    -webkit-flex-grow: 0.30; }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(2) .skill-box:nth-child(3) .full {
    -webkit-flex-grow: 0.60; }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(2) .skill-box:nth-child(3) .empty {
    -webkit-flex-grow: 0.40; }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(2) .skill-box:nth-child(4) .full {
    -webkit-flex-grow: 0.82; }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(2) .skill-box:nth-child(4) .empty {
    -webkit-flex-grow: 0.18; }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(2) .skill-box:nth-child(5) .full {
    -webkit-flex-grow: 0.73; }
  body #skills .section-body .skills-container:nth-child(1) .skills-panel:nth-child(2) .skill-box:nth-child(5) .empty {
    -webkit-flex-grow: 0.27; }
  body #skills .section-body .skills-container:nth-child(2) .skills-panel:nth-child(1) .skill-box:nth-child(1) .full {
    -webkit-flex-grow: 0.85; }
  body #skills .section-body .skills-container:nth-child(2) .skills-panel:nth-child(1) .skill-box:nth-child(1) .empty {
    -webkit-flex-grow: 0.15; }
  body #skills .section-body .skills-container:nth-child(2) .skills-panel:nth-child(1) .skill-box:nth-child(2) .full {
    -webkit-flex-grow: 0.75; }
  body #skills .section-body .skills-container:nth-child(2) .skills-panel:nth-child(1) .skill-box:nth-child(2) .empty {
    -webkit-flex-grow: 0.25; }
  body #skills .section-body .skills-container:nth-child(2) .skills-panel:nth-child(1) .skill-box:nth-child(3) .full {
    -webkit-flex-grow: 0.70; }
  body #skills .section-body .skills-container:nth-child(2) .skills-panel:nth-child(1) .skill-box:nth-child(3) .empty {
    -webkit-flex-grow: 0.30; }
  body #skills .section-body .skills-container:nth-child(2) .skills-panel:nth-child(2) .skill-box:nth-child(1) .full {
    -webkit-flex-grow: 0.92; }
  body #skills .section-body .skills-container:nth-child(2) .skills-panel:nth-child(2) .skill-box:nth-child(1) .empty {
    -webkit-flex-grow: 0.08; }
  body #skills .section-body .skills-container:nth-child(2) .skills-panel:nth-child(2) .skill-box:nth-child(2) .full {
    -webkit-flex-grow: 0.88; }
  body #skills .section-body .skills-container:nth-child(2) .skills-panel:nth-child(2) .skill-box:nth-child(2) .empty {
    -webkit-flex-grow: 0.12; }
  body #skills .section-body .skills-container:nth-child(2) .skills-panel:nth-child(2) .skill-box:nth-child(3) .full {
    -webkit-flex-grow: 0.62; }
  body #skills .section-body .skills-container:nth-child(2) .skills-panel:nth-child(2) .skill-box:nth-child(3) .empty {
    -webkit-flex-grow: 0.38; }
  body #skills .section-body .skills-container:nth-child(2) .skills-panel:nth-child(2) .skill-box:nth-child(4) .full {
    -webkit-flex-grow: 0.78; }
  body #skills .section-body .skills-container:nth-child(2) .skills-panel:nth-child(2) .skill-box:nth-child(4) .empty {
    -webkit-flex-grow: 0.22; }
  body #skills .section-body .skills-container:nth-child(2) .skills-panel:nth-child(2) .skill-box:nth-child(5) .full {
    -webkit-flex-grow: 0.71; }
  body #skills .section-body .skills-container:nth-child(2) .skills-panel:nth-child(2) .skill-box:nth-child(5) .empty {
    -webkit-flex-grow: 0.29; }
  body #skills .section-body .skills-container:nth-child(2) .skills-panel:nth-child(2) .skill-box:nth-child(6) .full {
    -webkit-flex-grow: 0.82; }
  body #skills .section-body .skills-container:nth-child(2) .skills-panel:nth-child(2) .skill-box:nth-child(6) .empty {
    -webkit-flex-grow: 0.18; }
  body #portfolio .portfolio-list .site-item a .img-container {
    position: relative; }
    body #portfolio .portfolio-list .site-item a .img-container .img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.6;
      transition: background-color 0.4s;
      -webkit-transition: background-color 0.4s;
      -moz-webkit-transition: background-color 0.4s;
      -ms-webkit-transition: background-color 0.4s;
      -o-webkit-transition: background-color 0.4s; }
      body #portfolio .portfolio-list .site-item a .img-container .img-overlay h3 {
        text-align: center;
        margin-top: 15%;
        color: white; }
      body #portfolio .portfolio-list .site-item a .img-container .img-overlay p {
        text-align: center;
        margin: 10px 8px 0 8px;
        color: white; }
    body #portfolio .portfolio-list .site-item a .img-container img {
      width: 100%; }
  body #portfolio .portfolio-list .site-item a:hover .img-overlay {
    background-color: steelblue;
    opacity: 0.6; }
  body #education .topic-list, body #work-experience .topic-list {
    margin: 0; }
    body #education .topic-list .topic-container .topic-year, body #work-experience .topic-list .topic-container .topic-year {
      padding: 0; }
      body #education .topic-list .topic-container .topic-year h1, body #work-experience .topic-list .topic-container .topic-year h1 {
        display: inline-block;
        float: right;
        border: 1px solid lightgray;
        margin: 0;
        background-color: #7eaacd;
        color: white;
        font-size: 2em; }
        @media screen and (max-width: 40em) {
          body #education .topic-list .topic-container .topic-year h1, body #work-experience .topic-list .topic-container .topic-year h1 {
            padding: 5px 10px 0 10px;
            border-radius: 30px 30px 0 0;
            border-bottom: none; } }
        @media screen and (min-width: 40.063em) {
          body #education .topic-list .topic-container .topic-year h1, body #work-experience .topic-list .topic-container .topic-year h1 {
            padding: 0 10px 0 20px;
            border-radius: 30px 0 0 30px;
            border-right: none; } }
    body #education .topic-list .topic-container .topic-content, body #work-experience .topic-list .topic-container .topic-content {
      border: 1px solid lightgray; }
      body #education .topic-list .topic-container .topic-content h1, body #work-experience .topic-list .topic-container .topic-content h1 {
        color: #666; }
      body #education .topic-list .topic-container .topic-content h2, body #work-experience .topic-list .topic-container .topic-content h2 {
        color: #7eaacd;
        font-weight: 100; }
      body #education .topic-list .topic-container .topic-content ul, body #work-experience .topic-list .topic-container .topic-content ul {
        list-style-type: square; }
      @media screen and (max-width: 40em) {
        body #education .topic-list .topic-container .topic-content, body #work-experience .topic-list .topic-container .topic-content {
          border-radius: 10px 0 10px 10px; } }
      @media screen and (min-width: 40.063em) {
        body #education .topic-list .topic-container .topic-content, body #work-experience .topic-list .topic-container .topic-content {
          border-radius: 0 10px 10px 10px; } }

/*# sourceMappingURL=main.css.map */