/*Temporary background colors*/
body {
  background-color: slategray;
}

#body-wrapper {
  background-color: white;

}

header {
  background-color: lightblue;
}

section {
  background-color: lavender;
}

h1 {
  // background-color: lightblue;
  color: lavender;
}
h2 {
  // background-color: lightgreen;
  color: lavender;
}

/*-----REAL STYLESHEET-----*/

$darkestSteel: hsl(207, 44, 10);
$darkSteel: hsl(207, 44, 20);
$mediumSteel: hsl(207, 44, 33);
$steelBlue: hsl(207, 44, 49);

@mixin display-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex-grow($a) {
  -webkit-flex-grow: $a;
  -moz-flex-grow: $a;
  -ms-flex-grow: $a;
  flex-grow: $a;
}

@mixin no-flex {
  -webkit-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
}

body {
  background-color: $darkestSteel;
  // background-color: slategray;

  .top-body-margin {
    display: block;
    height: 40px;
    background-color: $darkestSteel;
  }
  .bottom-body-margin {
    display: block;
    height: 40px;
    background-color: $darkestSteel;
  }

  #body-wrapper {
    background-color: lavender;
    margin: 40px auto;
    padding: 0;

    header {
      overflow: hidden;
      background-color: $mediumSteel;
      // padding-top: 20px;

      .header__container1 {
        @include display-flex;
        @include flex-direction(row);

        .left-margin {
          @include flex-grow(1);
        }

        .img-div {
          width: 122px;
          overflow: hidden;
          padding: 0;
          @include no-flex;
          // margin-left: 20px;

          img {
            // -webkit-filter: grayscale(100%);
            // filter: grayscale(100%);
          }
        }
        .img-div.hidden-for-small-only {
          text-align: center;
        }
        .title-div {
          overflow: hidden;
          padding-left: 25px;
          @include flex-grow(1);

          h1 {
            margin: 0;
            font-family: "Lato";
            display: block;
            margin-top: 15px;
            font-size: 2.1em;
            color: lavender;
          }
          h2 {
            font-family: "Merriweather";
            font-style: italic;
            display: block;
            margin: 0;
            font-size: 1.6em;
            color: lavender;
          }
        }

        .social-icons-div {
          @include no-flex;
          @include display-flex;
          @include flex-direction(column);

          margin: 0 10px;
          // border: 1px solid red;
          overflow: hidden;
          float: right;
          // width: 30px;
          text-align: right;
          a {
            img {
              width: 20px;
              margin: 5px 0;
            }
          }
        }
        .right-margin {
          @include flex-grow(1);
        }
      }
      .header__container2 {
        text-align: center;
        h1 {
          font-family: 'Lato';
          font-size: 1.8em;
          margin: 0;
        }
        h2 {
          font-family: 'Merriweather';
          font-size: 1.2em;
          font-style: italic;
          margin: 0;
        }
      }

      nav {
        padding-right: 15px;
        display: block;
        width: 100%;
        overflow: hidden;
        text-align: right;
        background-color: $mediumSteel;

        .head-rule {
          display: block;
          width: 85%;
          border-bottom: 1px solid lavender;
        }
        .nav-link {
          display: inline-block;
          font-size: 0.8em;
          padding: 5px 5px;
          a {
            color: lavender;
          }
        }
      }
    }

    section {

      padding: 0 20px;

      p {
        text-align: justify;
      }

      p, li {
        font-family: Merriweather;
        font-size: 0.8em;
      }

      h3 {
        font-family: Lato;
        font-size: 1.5em;
        font-weigth: bold;
        color: $steelBlue;
      }

      hr {
        margin: 0;
        padding: 0;
        border-color: black;
      }

      // .section-element {
      //
      //   .skills-row {
      //     padding: 10px 0 10px 0;
      //     .columns {
      //       margin: 0;
      //       padding: 0;
      //       h6 {
      //         margin: 0;
      //         margin-right: 40px;
      //       }
      //       p {
      //         margin: 0;
      //       }
      //     }
      //     .skill-type {
      //
      //     }
      //   }

        .section-element__head {
          margin: 20px 0;

          .head__title {
            display: inline-block;
            margin: 0;
            width: 100%;

            .logoDiv {
              display: inline-block;
              width: 25px;
              height: 25px;
              line-height: 25px;
              text-align: center;
              overflow: hidden;
              float: left;
              border-radius: 50%;
              position: relative;
              top: 3px;

              img {
                max-width: none;
                margin: -100%;
              }
            }
            h4 {
              display: inline-block;
              font-family: Lato;
              font-size: 1.4em;
              float: left;
              margin: 0 0 0 10px;
            }
            .h4-no-margin {
              margin: 0;
            }
          }
          .head__subtitle {
            h5 {
              display: inline-block;
              font-family: Lato;
              font-size: 1.1em;
              font-style: italic;
              float: left;
              margin: 0;
            }

            footer {
              display: inline-block;
              text-align: right;
              font-size: 0.8em;
              float: right;
            }
          }
        }
      }
    }
  }
}
