$steel: hsl(207,44,65);
$palesteel: hsl(207,20,95);
$grayheader: #666;

body {

  p {
    text-align: justify;
  }

  p, li {
    font-family: Lato, sans-serif;
  }
  position: relative;

  ul {
    list-style: none;
  }

  h1, h2, h3 {
    font-family: Oswald;
    color: $grayheader;
  }

  .panel {
    background-color: $palesteel;
  }

  #menu-bar {
    overflow: hidden;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index:99;

    .menu-list {
      float: right;
      margin: 0;
      li {
        display: inline-block;
        float: left;
        background-color: white;
      }
    }

  }
  #small-menu {
    overflow: hidden;
    position: fixed;
    border: 1px solid red;
    background-color: white;
    z-index: 99;
    margin: 0;
    right: 0;
    top: 37px;
    display: none;
    @media only screen and (min-width: 40.063em) {
      display: none;
    }
  }

  .menu-list {
    li {
      font-size: 0.7em;
      padding: 10px;
    }
  }

  #about, #portfolio, #skills, #education, #work-experience {
    padding: 0;
  }

  section {

    .head-icon {
      display: block;
      text-align: center;
      i {
        padding: 15px 15px 5px 15px;
        color: white;
        display: inline-block;
        border: 1px solid lightgray;
        border-bottom: none;
        border-radius: 50% 50% 0 0;
        background-color: $steel;

      }
    }

    .section-head {
      text-align: center;
      background-color: $palesteel;
      margin-bottom: 50px;
      border-top: 1px solid lightgray;

      h1 {
        margin: 0;
        margin-bottom: 10px;
        padding: 20px 0;
        font-family: Oswald;
        color: $grayheader;

      }

    }

    .section-body {
      padding: 0 20px 0 20px;
    }

  }

  #about {
    padding-top: 70px;

    .about-container {
      .about__img {
        img {
          display: inline-block;
          width: 200px;
          border-radius: 50%;
          border: 1px solid lightgrey;
          box-shadow: 3px 3px 4px #aaa;

          @media only screen and (min-width: 40.063em) {
            float: right;
          }

          @media screen and (max-width: 40em) {
            clear: both;
          }
        }
        @media screen and (max-width: 40em) {
          text-align: center;
        }
      }
      .about__title {
        .title-box {
          h1 {
            font-family: 'Oswald';
            color: $grayheader;
          }
          h2 {
            font-family: 'Oswald';
            font-weight: 300;
            color: $steel;
          }
          @media only screen and (max-width: 40em) {
            text-align: center;
          }
          @media only screen and (min-width: 40.063em) {
            display: inline-block;
            float: left;
            text-align: center;
          }
        }

        // }
        // .title-box.small-12 {
        //   display: inline-block;
        //   float: left;
        //   text-align: center;
        // }
        .social-box {
          display: block;
          clear: both;
          a {
            li {
              display: inline-block;
              border: 1px solid lightgray;
              border-radius: 50%;
              color: $steel;
              background-color: white;
              box-shadow: 3px 3px 4px #aaa;
              transition: color 0.4s, background-color 0.4s;
              -webkit-transition: color 0.4s, background-color 0.4s;
              -moz-webkit-transition: color 0.4s, background-color 0.4s;
              -ms-webkit-transition: color 0.4s, background-color 0.4s;
              -o-webkit-transition: color 0.4s, background-color 0.4s;

              i {
                padding: 10px;
              }
            }
            li:hover {
              color: white;
              background-color: $steel;
            }

          }

        }
        .social-box.visible-for-small-only {
          text-align: center;
          a {
            margin: auto 5px;
          }
        }
        .social-box.visible-for-medium-up {
          margin-left: 25px;
          a {
            text-align: center;
            float: left;
            margin-right: 16px;
            i {

            }
            &:first-child {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }

  #skills {

    .section-body {
      .skills-container {
        max-width: none;
        .skills-column {
          position: relative;
          height: 100%;
          .skills-panel {
            h1 {
              color: $grayheader;
            }
            display: block;
            border: 1px solid lightgray;
            border-radius: 10px;
            .skills-list {
              .skill-box {
                margin-bottom: 20px;
                display: flex;
                display: -webkit-flex;
                -webkit-flex-direction: row;

                .full {
                  color: white;
                  background-color: $steel;
                  -webkit-flex-grow: 0.8;
                  // box-flex: 8;
                  span {
                    display: inline-block;
                    padding: 5px 0 5px 15px;
                  }

                }
                .empty {
                  background-color: white;
                  -webkit-flex-grow: 0.2;
                  // box-flex: 2;
                }
              }
              .skill-box:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
        .skills-column:first-child {

          @media screen and (min-width: 64.063em) {
            padding: 0 8px 0 0;
          }
        }
        .skills-column:last-child {

          @media screen and (min-width: 64.063em) {
            padding: 0 0 0 8px;
          }
        }
      }
      //Front End and Back end panels
      .skills-container:nth-child(1) {
        //Fron end panel
        .skills-panel:nth-child(1) {
          .skill-box:nth-child(1) {
            .full {-webkit-flex-grow: 0.92;}
            .empty {-webkit-flex-grow: 0.08;}
          }
          .skill-box:nth-child(2) {
            .full {-webkit-flex-grow: 0.85;}
            .empty {-webkit-flex-grow: 0.15;}
          }
          .skill-box:nth-child(3) {
            .full {-webkit-flex-grow: 0.65;}
            .empty {-webkit-flex-grow: 0.35;}
          }
          .skill-box:nth-child(4) {
            .full {-webkit-flex-grow: 0.75;}
            .empty {-webkit-flex-grow: 0.25;}
          }
          .skill-box:nth-child(5) {
            .full {-webkit-flex-grow: 0.7;}
            .empty {-webkit-flex-grow: 0.3;}
          }
        }
        .skills-panel:nth-child(1).large-6 {
          // width: 90%;
        }
        //Back end panel
        .skills-panel:nth-child(2) {
          .skill-box:nth-child(1) {
            .full {-webkit-flex-grow: 0.95;}
            .empty {-webkit-flex-grow: 0.05;}
          }
          .skill-box:nth-child(2) {
            .full {-webkit-flex-grow: 0.70;}
            .empty {-webkit-flex-grow: 0.30;}
          }
          .skill-box:nth-child(3) {
            .full {-webkit-flex-grow: 0.60;}
            .empty {-webkit-flex-grow: 0.40;}
          }
          .skill-box:nth-child(4) {
            .full {-webkit-flex-grow: 0.82;}
            .empty {-webkit-flex-grow: 0.18;}
          }
          .skill-box:nth-child(5) {
            .full {-webkit-flex-grow: 0.73;}
            .empty {-webkit-flex-grow: 0.27;}
          }
        }
      }
      //Development tools Others panels
      .skills-container:nth-child(2) {
        //Development tools panel
        .skills-panel:nth-child(1) {
          .skill-box:nth-child(1) {
            .full {-webkit-flex-grow: 0.85;}
            .empty {-webkit-flex-grow: 0.15;}
          }
          .skill-box:nth-child(2) {
            .full {-webkit-flex-grow: 0.75;}
            .empty {-webkit-flex-grow: 0.25;}
          }
          .skill-box:nth-child(3) {
            .full {-webkit-flex-grow: 0.70;}
            .empty {-webkit-flex-grow: 0.30;}
          }
        }
        //Others panel
        .skills-panel:nth-child(2) {
          .skill-box:nth-child(1) {
            .full {-webkit-flex-grow: 0.92;}
            .empty {-webkit-flex-grow: 0.08;}
          }
          .skill-box:nth-child(2) {
            .full {-webkit-flex-grow: 0.88;}
            .empty {-webkit-flex-grow: 0.12;}
          }
          .skill-box:nth-child(3) {
            .full {-webkit-flex-grow: 0.62;}
            .empty {-webkit-flex-grow: 0.38;}
          }
          .skill-box:nth-child(4) {
            .full {-webkit-flex-grow: 0.78;}
            .empty {-webkit-flex-grow: 0.22;}
          }
          .skill-box:nth-child(5) {
            .full {-webkit-flex-grow: 0.71;}
            .empty {-webkit-flex-grow: 0.29;}
          }
          .skill-box:nth-child(6) {
            .full {-webkit-flex-grow: 0.82;}
            .empty {-webkit-flex-grow: 0.18;}
          }
        }

      }

    }
  }

  #portfolio {

    .portfolio-list {
      .site-container {
        img {
          width: 100%;
          border: 1px solid black;
        }
      }
    }
  }

  #education, #work-experience {

    .topic-list {
      margin: 0;
      .topic-container {
        .topic-year {
          padding: 0;
          h1 {
            display: inline-block;
            float: right;
            border: 1px solid lightgray;
            margin: 0;
            background-color: $steel;
            color: white;
            font-size: 2em;
            @media screen and (max-width: 40em) {
              padding: 5px 10px 0 10px;
              border-radius: 30px 30px 0 0;
              border-bottom: none;
            }
            @media screen and (min-width: 40.063em) {
              padding: 0 10px 0 20px;
              border-radius: 30px 0 0 30px;
              border-right: none;
            }
          }
        }
        .topic-content {
          h1 {
            color: $grayheader;
          }
          h2 {
            color: $steel;
            font-weight: 100;
          }
          border: 1px solid lightgray;
          @media screen and (max-width: 40em) {
            border-radius: 10px 0 10px 10px;
          }
          @media screen and (min-width: 40.063em) {
            border-radius: 0 10px 10px 10px;
          }
        }
      }
    }
  }




}
